VITE_SUPABASE_URL=https://ytldyfyfncdkyfyfycxp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0bGR5ZnlmbmNka3lmeWZ5Y3hwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzODg1MjksImV4cCI6MjA5NTk2NDUyOX0.DMOQinLZR95yYbBk5jqd6QRIzWer3LhUXw6PtqmnjPg
VITE_ADMIN_EMAILS=ogundunmoyin@gmail.com
